<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>


    <%- include('includes/navbar', {user: user}) %>
        <div class="w3-main" style="margin-left:300px;margin-top:43px;">

            <div class="w3-container">
                <h3 id="titulo"><%=transacao.titulo != null ? 'Alterar' : 'Nova' %> transação</h3>
                <form action="<%=transacao.titulo != null ? '/transacoes/editar/'+transacao.id : '/transacoes/' %>" method="post">
                    <table>
                        <tr>
                            <td><label for="titulo">Título: </label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input value="<%=transacao.titulo%>" type="text" class=" w3-white w3-border w3-round-large" size="105" style="width:100%" required name="titulo"></td>
                        </tr>
                        <tr>
                            <td><label for="tipo">Tipo: </label></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select required name="tipo" class="w3-select w3-border w3-round-large ">
                                    <option value="R">Receita</option>
                                    <option <%=transacao.tipo == 'D'? ' selected ' : ''%> value="D">Despesa</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="data">Data: </label></td>
                            <td><label for="valor">Valor (R$): </label></td>
                        </tr>
                        <tr>
                            <td>
                                <input required value="<%=transacao.data%>" style="width:100%" type="date" class="w3-white w3-border w3-round-large" name="data">
                            </td>
                            <td>
                                <input required type="number" value="<%=transacao.valor%>" step=0.01 class="w3-white w3-border w3-round-large" name="valor">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="observacao">Observação: </label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><textarea style="width: 100%;" class=" w3-white w3-border w3-round-large" name="observacao"><%=transacao.observacao%></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button style=" margin-left: 74%;" type="submit" class="w3-button w3-green"><%=transacao.titulo !=null ? 'Alterar' : 'Cadastrar' %></button>
                                <input type="button" value="Cancelar" onclick="location.href = '/'" class="w3-button w3-red">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <hr>


            <%- include('includes/footer') %>

        </div>
        </body>

</html>