<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>
<% query=typeof query !=='object' ? {} : query %>

    <%- include('includes/navbar', {user: user}) %>    
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <% if(typeof msg !="undefined" ){ %>
            <%- include('includes/modal', {msg:msg}) %>
        <%}%>
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h4 id="titulo">Dashboard</h4>
        </header>
    
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-third">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-line-chart w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%=resumoTransacoes.receita != "--" ?new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(resumoTransacoes.receita) : resumoTransacoes.receita %></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Receita</h4>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-level-down w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%= resumoTransacoes.despesa != "--" ? new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(resumoTransacoes.despesa) : resumoTransacoes.despesa %></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Despesa</h4>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3><%= resumoTransacoes.saldo != "--" ? new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(resumoTransacoes.saldo) : resumoTransacoes.saldo%></h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Saldo</h4>
                </div>
            </div>
            
        
        </div>
    
    
        <div class="w3-container">
            <h4 id="titulo">Transações</h4>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <% if(transacoes.length > 0 || query.campo != null) { %>
                    <select class="w3-border w3-round-large w3-button" id="campo" name="campo">
                        <option value="titulo" <%=query.campo == 'titulo' ? " selected " : ""%>>Título</option>
                        <option value="data" <%=query.campo == 'data' ? " selected " : ""%>>Data</option>
                    </select>
                    <input class="w3-button w3-white w3-border w3-round-large" type="<%=query.campo == 'data' ? "date" : "text"%>" id="valor" name="valor" value="<%=query.valor%>" size="90" pattern="[a-zs]+$">
                    <button style="border: none" onclick="value = document.getElementById('valor').value.trim().replace(/ +/g, '+');query = value != '' ? document.getElementById('campo').value+'='+value : '';location.href ='/transacoes'+((query != '') ? '?' : '')+query;">&#x1F50E</button>
                    <thead>
                        <tr>
                            <th><a class="w3-text-green" href="/transacoes/cadastrar">
                                <i class="fa fa-money" title="Nova transação"></i>
                            </a></th>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <% transacoes.forEach(transacao=> { %>
                        <tr>
                            <td>
                                <i class="fa fa-<%= transacao.tipo == 'R' ? 'plus w3-text-green' : 'minus w3-text-red'%>"></i>
                            </td>
                            <td>
                                <%= new Date(transacao.data+' 00:00:00').toLocaleDateString('pt-BR') %>
                            </td>
                            <td>
                                <%= transacao.titulo %>
                            </td>
                            <td>
                                <%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(transacao.valor) %>
                            </td>
                            <td> 
                                <a class="w3-text-green" href="/transacoes/<%= transacao.id %>">
                                    <i class="fa fa-eye" title="Visualizar"></i>
                                </a> 
                            </td>
                            <td>
                                <a class="w3-text-green" href="/transacoes/editar/<%= transacao.id %>">
                                    <i class="fa fa-pencil" title="Editar"></i>
                                </a>
                            </td>
                            <td>
                                <a class="w3-text-green" href="/transacoes/deletar/<%= transacao.id %>">
                                    <i class="fa fa-close" title="Deletar"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <p>Ops, você ainda não registrou nenhuma transação, <a class="w3-text-green" onclick="location.href='../../transacoes/cadastrar'">registre</a> para começar a controlar suas finanças</p>
                <% } %>
            </table><br>
        </div>
        <hr>
    

    <%- include('includes/footer') %>

</div>
        <script>
            let campo = document.getElementById('campo');
            let valor = document.querySelector("#valor");
            campo.addEventListener("change", function () {
                console.log("entrou");
                if(campo.value == 'data') {
                    valor.type = 'date'
                }else {
                    valor.type="text"
                }
            });
            valor.addEventListener("input", function () {
                valor.value = valor.value.toUpperCase();
            });
            
        </script>
</body>

</html>